:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --background-color: #ffffff;
  --background-gero-color: #2f303a;
  --our-team-back-color: #f5f4fa;
  --footer-back-color: #000000;
}

/* main page */

body {
  font-family: Roboto, serif;

  color: var(--primary-text-color);
}

.nav {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.hero {
  color: var(--background-color);
}

.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.button {
  color: inherit;
}

h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

h2,
h3 {
  color: var(--title-text-color);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* header nav */

.link {
  color: var(--title-text-color);
}
.link:hover,
.link:focus,
.current,
.web {
  color: var(--accent-color);
}

.telephone-link {
  color: inherit;
}

/* главная страница секции */

.title-section {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.title-small-section {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.text-special-section {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* портфолио */

.button-port {
  color: var(--title-text-color);
}
